table.fax-status {

  .row-title {
    font-weight: bold;
    padding-right: 15px;
  }

  .row-value {
    text-align: right;
  }

  .row-icon {
    padding-left: 5px;
  }

  .fax-status-error {
    color: red;
  }

  .fax-status-success {
    color: green;
  }
}

